* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

#game-message, #board {
    margin: auto;
}

#game-message, #player-name, #player-instruction {
    font-size: 50px;
}

#game-message, .button-row {
    width: 600px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#board {
    background-color: yellow;
    margin-bottom: 40px;
}

.cell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(245, 244, 244);
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(0, 204, 255);
}

.orange {
    background-color: orange;
}

#game-base {
    border-radius: 5%/20%;
    background-color: blue;
}

.button-row {
    margin: auto;
    height: 50px;
}

#replay-button {
    background-color: green;
    color: white;
    width: 120px;
    height: inherit;
    border-radius: 10px;
    cursor: pointer;
}